<beans:beans xmlns="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:beans="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:security="http://www.springframework.org/schema/security"
 xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/webflow-config
http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">
       
<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
<beans:property name="driverClassName" value="org.h2.Driver" />
        <beans:property name="url" value="jdbc:h2:tcp://localhost/~/test" />
        <beans:property name="username" value="sa" />
        <beans:property name="password" value="" />
 </beans:bean>
 
<context:component-scan base-package="com.musichub" />
<beans:bean id="sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource"/>               
        <beans:property name="hibernateProperties">
			<beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
                <beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>               
            </beans:props>
        </beans:property>    
 
<beans:property name="packagesToScan">
           <beans:list><beans:value>com.musichub</beans:value></beans:list>       
        </beans:property> 
    </beans:bean>

     <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean> 
    
   <security:http>
    <security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
    <security:intercept-url pattern="/user/**" access="ROLE_USER" />
       <security:form-login
           login-page="/Login"
           login-processing-url="/perform_login"
           default-target-url="/Home"
           authentication-failure-url="/Login?error"
           username-parameter="username"  
           password-parameter="password" />
       <security:logout
           logout-success-url="/Login?logout" />
   </security:http>
   <security:authentication-manager>
       <security:authentication-provider>
           <security:jdbc-user-service data-source-ref="dataSource"
                                       users-by-username-query="SELECT username,password,active from user where username=?"
                                       authorities-by-username-query="select us.username, ur.authority from user us, user_role ur where us.id = ur.user_id and us.username =?" />
                                        
       </security:authentication-provider>
   </security:authentication-manager>
  
   
   <!-- Web FLOW -->
   
 <webflow-config:flow-executor id="flowExecutor" flow-registry="flowRegistry" />
  
  <webflow-config:flow-registry id="flowRegistry" base-path="/WEB-INF/flows">
      <webflow-config:flow-location path="/customerCheckoutFlow.xml" id="checkout" />
      </webflow-config:flow-registry>

    <beans:bean id="flowHandlerMapping" class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
        <beans:property name="flowRegistry" ref="flowRegistry" />
    </beans:bean>
    
    <beans:bean id="flowHandlerAdapter" class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter">
        <beans:property name="flowExecutor" ref="flowExecutor" />
    </beans:bean>
   
 </beans:beans>